{% extends 'base.html' %}

{% block content %}
    <center><h3>Shopping Cart</h3></center>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col" width="50%">Type</th>
            <th scope="col" width="50%">Price</th>
        </tr>
        </thead>
        <tbody>
        {% for retrieve in order %}
            <tr>
                <td scope="col">{{ retrieve.pizza }}</td>
                <td scope="col">{{ retrieve.yumprice }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h4>Total ($): {{ total }}</h4><br><br>

    <button class="btn btn-primary"><a href="{% url 'home' %}" type="submit">Back to Menu</a></button>
    <button class="btn btn-primary"><a href="{% url 'confirm' %}" type="submit">Place Order</a></button>

{% endblock %}