{% extends 'base.html' %}

{% block content %}
    <center><h3>Shopping Cart</h3></center>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}


    <button class="btn btn-primary" style="width:300px"><a href="{% url 'home' %}" style="font-size:20px; color:white">YES</a></button>
    <button class="btn btn-primary" style="width:300px"><a href="{% url 'home' %}" style="font-size:20px; color:white">NO</a></button>

{% endblock %}